body{
    background-color: rgba(0, 255, 106, 0.63);
    color: blueviolet;
    font-family: cursive;
}
.header_div{
    background-color: #fff;
    color: darkgreen;
}
.header_div p{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:dimgray ;
    letter-spacing: 2px;
    font-weight: bold;
    font-size: 12px;
}
.main_div button{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-top: 30px;
    width: 150.9px;
    font-weight: bolder;
    letter-spacing: 3px;
    font-size: 30px;
}
.copy_right_footer{
    position: fixed;
    color: gray;
    bottom: 0;
    width: 100%;
    font-size: 20px;
    background-color: white;
    line-height: 3;
    text-align: center;
    text-shadow: 5px 5px 5px gray;
}